@import 'antd/dist/antd.css';

.App {
  height: 100vh;
  background-image: linear-gradient(to bottom, #36F36B , #B0ECFF);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}