@import 'antd/dist/antd.css';

.footer {
    height: 4rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 1rem;
  }